#header {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #1020ad , rgb(214, 7, 7));
}

#instructions {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 150px;
    font-size: 25px;
}

.headerSection {
    width: 33%;
    display: inline-block;
}

#headerLeft {
    float: left;
}

#headerMiddle {
    text-align: center;
}

#headerRight {
    float: right;
}

#warriors {
    height: 150px;
    float: left;
    margin-top: 100px;
    margin-left: 5%;
}

#nbalogo2 {
    height: 150px;
    float: right;
    margin-top: 100px;
    margin-right: 5%;
}

@media (max-width: 500px) {
    #nbalogo {
        height: 100px;
    }

    #nbalogo2 {
        height: 100px;
    }

    #instructions {
        font-size: 18px;
    }
  }
  